@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.search-gradient {
  background: linear-gradient(
    180deg,
    #d9d9d9 99.99%,
    rgba(217, 217, 217, 0) 100%
  );
}
