@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.search-gradient {
  background: linear-gradient(
    180deg,
    #d9d9d9 99.99%,
    rgba(217, 217, 217, 0) 100%
  );
}

.activeLink {
  border-radius: 2px;
  background: linear-gradient(
    180deg,
    rgba(201, 184, 32, 0.61) 0%,
    rgba(52, 37, 31, 0) 100%
  );
}
.container {
  display: flex;
  flex-direction: column;
}


.usersContainer {
  background-image: url("/bg_login.png");
  background-repeat: no-repeat;
  background-size: cover; /* Adjust to your preference */
  background-position: center; /* Adjust to your preference */
  background-color: transparent; /* Optional */
}


@media (min-width: 768px) {
  .container {
      flex-direction: row;
  }
}

.sidebar {
  width: 100%;
  background-color: rgba(214, 203, 107, 0.16);
}

@media (min-width: 768px) {
  .sidebar {
      width: 30%;
  }
}

.main-content {
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .main-content {
      width: 70%;
  }
}

